<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
    <div class="container-search-header">
        <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
            <img src="/images/icons/icon-close2.png" alt="CLOSE">
        </button>

        <form class="wrap-search-header flex-w p-l-15" action="/Product/Search">
            <button class="flex-c-m trans-04" type="submit">
                <i class="zmdi zmdi-search"></i>
            </button>
            <input id="search" name="keywords" class="form-control" placeholder="search..." />
        </form>
    </div>
</div>


@*<form class="navbar-form navbar-left" role="search" action="/Product/Search">
    <div class="input-group input-group-lg">
        <input id="search" name="keywords" class="form-control" placeholder="search" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</form>*@